* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}


///////////header section///////////////

.box {
    max-width: 1000px;
    margin: 0 auto 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-sec {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 1px rgb(149, 146, 146);
}

.nav-wrapper {
    padding: 5px;
}

.logo {
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 8px;
    font-family: 'Roboto', sans-serif;
    a{
        color: black;
    }
}

.input-field {
    background-color:#f3f1f1;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(218, 218, 218);
    padding: 1px;
    width: 270px;
        input:focus {
        outline:none;
    }
}

.search {
    border-style: none;
    background-color:#f3f1f1;
    width: 85%;
    height: 30px;
}

.fa-search {
    color: rgb(153, 152, 152);
    margin-left: 10px;
    font-size: small;
}

.signup , .signin{
    height: 27px;
    a {
        padding: 1.5px;
        vertical-align: middle;
    }
    &:hover {
        color:rgb(131, 129, 129);
        }
}

.login {
    font-size: 16px;
    width: 270px;
    justify-content: flex-end;
    height: 43px;
    span {
        font-size: 3px;
        margin: auto 15px auto 15px;
        color:rgb(224, 223, 223);
    }
    a {
        color:rgb(59, 59, 59);
    }
    .fa-user {
        text-align: center;
        background-color: rgb(170, 170, 170);
        font-size: 15px;
        margin-right: 10px;
        padding: 6px;
        border-radius: 10%;
        color: white;
    }
}

.signin:hover i {
    background:rgb(209, 210, 211);
}

/////////////////////類別///////// ////////////

.class-sec {
    display: inline-block;
    width: 100%;
    height: 50px;
    border-bottom: solid rgb(218, 217, 217);
    border-bottom-width: thin;
    margin-top: 60px;
}

.container {
    width: 55%;
    margin: 0 auto 0 auto;
    ul{
        width: 80%;
        margin: 0 auto 0 auto;
        display: flex;
        justify-content: center;
        height: 100%;
    }
    li {
        margin: 0;
        width: 20%;
        text-align: center;
        line-height: 48px;
        .current-class {
            color: black;
            &:hover{
                cursor: default;
            }
            &::before {
                content:"";
                position: absolute;
                width: 54.7%;
                height: 94%;
                left: 22.6%;
                border-bottom: solid 3px black;
            }
        }
        a {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            height: 100%;
            margin: 0;
            color:rgb(170, 170, 170);
            font-weight: 400;
            font-size: 18px;
            border-bottom: 3px solid transparent;
            position: relative;
            &:hover{
                &::before {
                    content:"";
                    position: absolute;
                    width: 54.7%;
                    height: 94%;
                    left: 22.6%;
                    border-bottom: solid 3px black;
                }
            }
        }
    }
}

/////////////選擇區//////////////

.select-sec {
    justify-content: center;
    text-align: center;
    margin: 20px auto 20px auto;
    > .current{
        background-color: rgb(49, 49, 49);
        &:hover{
            cursor: default;
        }
    }
    a {
        display: table-cell;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 400;
        color:rgb(179, 178, 177);
        padding-top: 4px;
        border: solid rgb(216, 215, 215) 1px;
        width: 145px;
        height: 35px;
        background-color: rgb(250, 249, 249);
    }
    a.current {
        color: white;
    }
    :first-child {
        border-radius: 6px 0 0 6px;
        border-right: none;
    }
    :last-child {
        border-radius: 0 6px 6px 0;
    }
}

//////////主要內容//////////////

.content-container {
    margin: 0 auto 0 auto;
    width: 1000px;
    height: auto;
    align-items: flex-start;
}

.sidebar {
    float: left;
    width: 180px;
    h2 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    a {
        font-size: 16px;
        line-height: 35px;
        color: rgb(54, 54, 54);
        &:hover {
            text-decoration: underline;
        }
    }
    hr {
        width: 90%;
        margin: 30px 0 20px 0;
        border: solid rgb(207, 207, 207);
        border-width: 1px 0 0 0 ;
    }
    .see-more{
        margin-left: 70px;
        margin-top: 10px;    
    }
}

.search-class {
    i {
        width: 20px;
        text-align: center;
        margin-right: 5px;
        font-size: 3px;
    }
}

.fashion-class {
    li {
        margin-bottom: 10px;
    }
    a:hover {
            opacity: .75;
    }
}

img.round {
    width: 38px;
    height: 38px;
    object-fit: cover;
    border: rgb(214, 214, 214) solid 1px;
    border-radius: 50%;
}


.blogger-list {
    display: flex;
    font-size: 5px;
    i {
        font-weight: 200;
        margin-right: 3px;
    }
}

.blogger-detail {
    margin-left: 5px;
    .blogger {
        font-weight: 600;
    }
}

.follow {
    color: #ffffff;
    border: solid 1px #1e72a3;
    border-radius: 2px;
    background-color: rgb(33, 125, 179);
    padding: 3px 20px;
    font-weight: 500;
    margin: 8px 0;
    &:hover {
        opacity: .75;
        cursor: pointer;
    }
}

.fa-user-plus {
    font-size: 5px;
    font-weight: 200;
}



////////content//////////


.content {
    width: 820px;
    float: right;
    display: flex;
    flex-direction: column;
    hr {
        margin: 20px 0;
        width: 100%;
        border: solid rgb(207, 207, 207);
        border-width: 1px 0 0 0 ;
    }
    p {
        font-weight: 400;
        font-size: 20px;
        color: rgb(43, 41, 41);
    }
    ul {
        margin-bottom: 50px;
    }
    li {
        font-size: 15px;
        margin: 10px 0;  
        &::before {
            content: "‧";
            color: gray;
        }
        a {
            color: #2490D0;
        }
    }
    .see-more {
        align-self: flex-end;
        padding: 10px 20px;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    a {
        color: black;
        font-size: 16px;
        font-weight: 300;
        &:hover {
            text-decoration: underline;
        }
    }
    p {
        font-weight: 300;
    }
}

.card-container {
    width: 840px;
    margin-top: 10px;
    position: relative;
    right: 18px;
    > * {
        float: left;
    }
}

.card {
    width: 260px;
    height: 390px;
    margin: 0 0 18px 18px;
    border: solid 1px rgb(224, 224, 224);
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    a {
        max-height: 88%;
        overflow: hidden;
    }
    img {
        max-width: 260px;
    }
    a:hover {
        opacity: .7;
    }
}

.large {
    width: 400px;
    height: 600px;
    img {
        max-width: 400px;
    }
}

.card-detail {
    display: flex;
    justify-content: space-between;
    margin: auto 10px;
    height: 60px;
    img {
        margin: auto 0 auto 0;
    }
}

.see-more {
    font-weight: 600;
    color: rgb(124, 124, 124);
    background-color: #ffffff;
    border: solid rgb(212, 212, 212) 1px;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 17px;
    &:hover {
        color:rgb(170, 170, 170);
        cursor: pointer;
    }
}

.banner {
    width: 100%;
    height: 250px;
    background-color: rgb(233, 233, 233);
    overflow: hidden;
    margin: 50px 0;
    justify-content: center;
    line-height: 25px;
    color:#3d3d3d;
    img {
        width: 330px;
    }
    a {
        display: inline-block;
        margin-right: 10px;
        width: 150px;
        img {
        width: 150px;
        object-fit: contain;
        }
    }
    h3 {
        margin-top: 30px;
        font-size: 28px;
        font-weight: 400;
    }
    p {
        margin: 20px 0;
        font-size: 16px;
    }
}

.app {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    a {
        &:not(:last-child):hover{
            opacity: .75;

        }
        &:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 45px;
            color:#2490D0;
            border: solid 1px #2490D0;
            border-radius: 5px;
            font-size: 16px;
                &:hover {
                background-color: white;
                }
        }
    }
}


//////////footer//////////////


footer {
    color: rgb(90, 90, 90);
    font-size: 16px;
    font-weight: 400;
    width: 1000px;
    margin: 0 auto 50px;
    line-height: 30px;
    hr {
        margin: 5px 0;
        border-top: solid 1px rgb(212, 212, 212);
    }
    a {
        color: rgb(90, 90, 90);
        font-size: 16px;
        font-weight: 400;
        &:hover {
            text-decoration: underline;
        }
    }
    i {
        display: inline-block;
        width: 20px;
        color:rgb(153, 152, 152);
        font-size: 15px;
    }
}

.separate {
    border-left: solid 1px rgb(212, 212, 212);
    height: 200px;
}

.bottom-about {
    align-items: flex-start;
    margin-bottom: 20px;
}

.bottom-nav {
    margin: 10px 0;
    ul {
        display: flex;
        li:not(:last-child)::after {
            content:"";
            border-left: solid 1px rgb(212, 212, 212);
            margin: 0 15px; 
        }
    }
}

.right-reserved {
    margin: 20px 0;
}